
<!--The code above is a navbar linking both the registration and login components together-->
<form [formGroup]="form" class="needs-validation" form (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row justify-content-center" [hidden]="hideResponse">
            <div class="col">
                <div class="alert" [class.alert-danger]="!success" [class.alert-success]="success"
                    role="alert">{{response}}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <label for="firstName">First Name: </label>
                <input class="form-control mr-sm-2" type="text" placeholder="First Name" aria-label="First Name"
                    id="firstName" formControlName="firstName" required>
                <div class="invalid-feedback">
                  Field must be filled out
                </div>
                <br>
                <label for="lastName">Last Name: </label>
                <input class="form-control mr-sm-2" type="search" placeholder="Last Name" aria-label="Last name"
                    id="lastName" formControlName="lastName" required>
                <br>
                <label for="address">Home Address: </label>
                <input class="form-control mr-sm-2" type="text" placeholder="Address" aria-label="Address"
                    id="address" formControlName="address" required>
                <br>
                <label for="city">City: </label>
                <input class="form-control mr-sm-2" type="text" placeholder="City" aria-label="City" id="city"
                    formControlName="city" required>
                <br>
                <label for="state">State: </label>
                <input class="form-control mr-sm-2" type="text" placeholder="State" aria-label="State" id="state"
                    formControlName="state" required>
                <br>
                <label for="zipCode">Zipcode: </label>
                <input class="form-control mr-sm-2" type="text" placeholder="Zipcode" aria-label="Zip Code"
                    id="zipCode" formControlName="zipCode" required>
                <br>
                <label for="username">Username: </label>
                <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username"
                    id="username" formControlName="username" required>
                <br>
                <label for="email">Email: </label>
                <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email Address"
                    id="email" formControlName="email" required>
                <br>
                <label for="password">Password: </label>
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Passsword"
                    id="password" minlength="8" formControlName="password" required>
                <br>
                <label for="password2">Re-enter Password: </label>
                <input class="form-control mr-sm-2" type="password" placeholder="Re-enter Password" aria-label="Re-enter Password"
                    id="password2" minlength="8" formControlName="password2" required>
                <br>
                <label for="userGrade">Grade: </label>
                <select class="form-control" formControlName="gradelist" required>
                    <option disabled>Choose Grade</option>
                    <option *ngFor="let gradeName of gradelist" [value]="gradeName.id">{{gradeName.abreviation}}</option>
                </select>
                <br><br>
                <button type="submit" (click)="onSubmit()">Register</button>
            </div>
        </div>
    </div>
</form>
