<form >
    <div class="user-reg-input">
        <label for="FirstName">First Name: </label>
        <input type="text" id ="FirstName" name="FirstName"
        placeholder="First Name">
    </div>
    <div class="user-reg-input">
        <label for="LastName">Last Name: </label>
        <input type="text" id ="LastName" name="LastName"
        placeholder="Last Name">
    </div>
    <div class="user-reg-input">
        <label for="EmailAddress">Email Address: </label>
        <input type="text" id ="EmailAddress" name="EmailAddress"
        placeholder="Email Address">
    </div>
    <div class="user-reg-input">
        <label for="PhoneNumber">Phone Number: </label>
        <input type="text" id ="PhoneNumber" name="PhoneNumber"
        placeholder="Phone Number">
    </div>
    <div class="user-reg-input">
        <label for="UserName">Username: </label>
        <input type="text" id ="UserName" name="UserName"
        placeholder="Username">
    </div>
    <div class="user-reg-input">
        <label for="Password">Password: </label>
        <input type="text" id ="Password" name="Password"
        placeholder="Password" minlength="8">
    </div>
    <div class="user-reg-input">
        <label for="Password2">Re-enter Password: </label>
        <input type="text" id ="Password2" name="Password2"
        placeholder="Re-enter Password" minlength="8">
    </div>
    
    <div>
        <input type="button" id="regBtn" size="40" value="Register">
    </div>
    
</form>
