<!-- Assignment for the week of the 15th January 2024 Due 22nd Angular Forms  -->
<div class="container">
    <form #addForm="ngForm" (ngSubmit)="onCreateFamilyName(addForm)">
        <h4>Add New Family Name</h4>
        <div class="form-group">
            <!-- form-group is Bootstrap  --><!-- name is used  for angulat forms; ngModel will tie the form name to the   -->
            <input type="text" ngModel name="firstname" class="form-control" id="firstname" placeholder="First Name"
                required>
        </div>
        <div class="form-group">
            <input type="text" ngModel name="lastname" class="form-control" id="lastname" placeholder="Last Name"
                required>
        </div>
        <div class="modal-footer">
            <button type="button" [disabled]="addForm.invalid" id="add-family-name" type="submit"
                class="btn btn-primary">Save Changes </button>
        </div>
    </form>

    <!-- Assignment for the week of the 15th January 2024 Angular Forms -->



    <h4>List of family names from database</h4>
    <select class="form-control" formControlName="familynamelist">
        <!-- change is an event used to capture when the user selects an item from the dropdown Look at the console.log-->
        <option disabled>Select name</option>
        <option *ngFor="let name of familynames" [value]="name">{{name.firstname}} {{name.lastname}}</option>
    </select>

    <br>
    <br>

    <h4>Family Name list from the database</h4>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tr *ngFor="let fn of familynames">
            <td>{{ fn.id }}</td>
            <td>{{ fn.firstname }}</td>
            <td>{{ fn.lastname }}</td>
        </tr>
    </table>
</div>