<div class="container justify-content-center">
  <h4>Current Classes</h4>
  <table class="container table">
    <tr>
      <th><b>Class Name</b></th>
      <th>Room Number</th>
      <th>Teacher</th>
      <th></th>
    </tr>
    <tr *ngFor="let class of existingClasses">
      <td><b>{{class.name}}</b></td>
      <td>{{class.roomNumber}}</td>
      <td>{{class.teacherName}}</td>
      <td><button type="submit" class="btn-primary " (click)="remove(class.id)">remove Class</button></td>
    </tr>
  </table>
</div>

<br>
<br>
<br>

<form [formGroup]="ClassRegistrationForm">
  <div class="container justify-content-center">
    <h4>Available Classes</h4>
    <table class="container table">
      <tr>
        <th><b>Class Name</b></th>
        <th>Room Number</th>
        <th>Teacher</th>
        <th></th>
      </tr>
      <tr *ngFor="let class of classes">
        <td><b>{{class.name}}</b></td>
        <td>{{class.roomNumber}}</td>
        <td>{{class.teacherName}}</td>
        <td><button type="submit" class="btn-success " (click)="submit(class.id)">Add Class</button></td>
      </tr>
    </table>
  </div>
</form>
