

  <div class="container mt-3" class="form-inline my-2 my-lg-0">
    <h2>gradebook</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Class</th>
          <th>Teacher</th>
          <th>Grade</th>

        </tr>
      </thead>
        <!--gb represents each row in the forloop-->
      <tbody>
        <tr *ngFor="let gb of gradebooklist">
          <td>{{gb.id}}</td>
          <td>{{gb.class}}</td>
          <td>{{gb.teacherName}}</td>
          <td>{{gb.gradeLetter}}</td>

        </tr>
      </tbody>
    </table>
    <br>
      <br>
      <br>
      <p>hji</p>



      <table class="table">
        <thead>
          <tr>
            <th>Id-back</th>
            <th>Class-back</th>
            <th>Teacher-back</th>
            <th>Grade-back</th>

          </tr>
        </thead>
          <!--gb represents each row in the forloop-->
        <tbody>
          <tr *ngFor="let gb of">
            <td>{{gb.id}}</td>
            <td>{{gb.class}}</td>
            <td>{{gb.teacherName}}</td>
            <td>{{gb.gradeLetter}}</td>

          </tr>
        </tbody>
      </table>
  </div>



