<!--A form group tracks the status and changes for each of its controls, 
so if one of the controls changes, the parent control also emits a new status or value change. 
The model for the group is maintained from its members. After you define the model, 
you must update the template to reflect the model in the view -->
<form [formGroup]="form">
  <div class="container">
    <div class="container-fluid">
       
      <h4>List of family names from database</h4>
       <select class="form-control" formControlName="familynamelist" (change)="changeFamilyNameList($event)"> <!-- change is an event used to capture when the user selects an item from the dropdown Look at the console.log-->
        <option disabled>Select name</option>
        <option *ngFor="let name of databasebackendfamilyNameList" [value]="name">{{name.firstname}} {{name.lastname}}</option>
      </select>
  
      <br>
      <br>

      <h4>Add new family name</h4>
      <label for="first-name">First Name: </label>
      <input id="first-name" class="form-control" type="text" formControlName="firstName">

      <label for="last-name">Last Name: </label>
      <input id="last-name" class="form-control" type="text" formControlName="lastName">
      <br>

      
      <button type="button" class="btn btn-success btn-sm" (click)="createFamilyName()"> + Add Family Memeber</button>
   
   <!-- Family List -->
   <br>
   <br>
   <h4>Family Name list from the database</h4>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr *ngFor="let familyName of databasebackendfamilyNameList">
            <td>{{ familyName.id }}</td>
            <td>{{ familyName.firstname }}</td>
            <td>{{ familyName.lastname }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="selectedFamilyName(familyName)">Select</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteFamilyName(familyName)">Delete</button>
            </td>
          </tr>
        </table>
    </div>
  </div>
</form>